<div style="width: 400px; margin: auto;">
    <div *ngIf="currentTask" class="edit-form">
      <h4>Edit Task</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTask.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTask.description"
            name="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="priority">Priority</label>
          <input
            type="text"
            class="form-control"
            id="priority"
            [(ngModel)]="currentTask.priority"
            name="priority"
          />
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <input
            type="text"
            class="form-control"
            id="status"
            [(ngModel)]="currentTask.status"
            name="status"
          />
        </div>
      </form>
  
      <button 
        class="badge badge-primary mr-2"
        (click)="assignTask()">
        Assign
      </button>
  
      <button 
        class="badge badge-danger mr-2" 
        (click)="deleteTask()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateTask()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTask">
      <br />
      <p>Cannot access this Task...</p>
    </div>
  </div>