<div style="width: 400px; margin: auto;">
    <div *ngIf="currentTask" class="edit-form">
      <h4>Edit Task</h4>
      <hr>

      <div class="alert alert-danger" *ngIf="error">
        <span [innerHTML]="error"></span>
      </div> 

      <div class="alert alert-success" *ngIf="message">
        {{ message }}
      </div>

      <div class="submit-form"> 
        
        <div class="form-group">
          <label for="title"><strong>Title: </strong></label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTask.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description"><strong>Description: </strong></label>
          <textarea 
            rows="5" 
            style="height:100%;"
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTask.description"
            name="description"
          ></textarea>
        </div>
        
        <div class="form-group">
          <label for="priority"><strong>Priority:</strong></label>
        <div 
          class="form-check-inline" 
          *ngFor="let priority of priorityKeys()">
          <input 
              type="radio" 
              [(ngModel)]="currentTask.priority" 
              name="priority" 
              [checked]="checkedPriority"
              value="{{ priority }}"/> 
               <span> {{ priority }} </span>
          </div>
        </div>

        <div class="form-group">
          <label for="status"><strong>Status: </strong></label>
        <div 
          class="form-check-inline" 
          *ngFor="let status of statusKeys()">
          <input 
              type="radio" 
              [(ngModel)]="currentTask.status" 
              name="status" 
              [checked]="checkedStatus"
              value="{{ status }}"/> 
              <span> {{ status }}</span>
          </div>
        </div>
        <!-- <div class="form-check-inline">
          <div 
            class="custom-control custom-radio" 
            *ngFor="let priority of keys()">
            <input 
              type="radio" 
              class="custom-control-input" 
              id="priority" 
              name="priority" 
              [(ngModel)]="checkedPriority">
            <label class="custom-control-label" for="priority"> {{ priority }} </label>
          </div>
        </div> -->
        <!-- <div class="form-group">
          <label for="priority"><strong>Priority: </strong></label> '{{ currentTask.priority }}'
          <select 
            class="form-control"
            [(ngModel)]="currentTask.priority"
            id="priority"
            name="priority"
            required>
            <option 
              *ngFor="let key of priorityKeys" 
              [value]="key" 
              [label]="priorities[key]"></option>
          </select>
        </div> -->

        <!-- <div class="form-group">
          <label for="status"><strong>Status: </strong></label> '{{ currentTask.status }}'
          <select 
            class="form-control"
            [(ngModel)]="currentTask.status"
            id="status"
            name="status"
            required>
            <option 
              *ngFor="let key of statusKeys" 
              [value]="key" 
              [label]="statuses[key]"></option>
          </select>
        </div> -->
        <div class="assigned" *ngIf="isAdmin">
          <strong>Assigned to: </strong> 
            <a 
              style="cursor: pointer;"
              routerLink="/users/{{ currentTask.developer }}">
                {{ developerName }}
            </a>
            <button 
              *ngIf="isAdmin"
              class="badge badge-primary mr-2" 
              (click)="assignTask()">
                Change
          </button>

        </div>
        <hr>
        <div class="btn-toolbar">
          
          <button 
            class="btn btn-danger m-1" 
            (click)="deleteTask()">
              Delete
          </button>
            
          <button
            type="submit"
            class=" btn btn-success m-1"
            (click)="updateTask()">
              Update
          </button>
        </div>  
      </div>

    </div>

    <div *ngIf="!currentTask">
      <br />
      <p>Cannot access this Task...</p>
    </div>
  </div>