<div class="list row" *ngIf="!isLoggedIn && !isLoading">
  <div class="col-md-8">
    <h1>Task~er</h1>
    <p>Task~er is a tool used to track bugs and tasks during product development. </p>
    <p><a href="/auth">Login / Sign Up</a></p>
  </div>
</div>

<div *ngIf="!isLoggedIn && isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="list row" *ngIf="isLoggedIn && !isLoading"> 
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6" *ngIf="tasks.length === 0">
      <h4>No tasks found!</h4>
      <p><button class="btn btn-success" (click)="onAddTask()">Add Task</button></p>
    </div>

    <div class="col-md-6" *ngIf="tasks.length > 0">
      <h4>Tasks List</h4>
      <pagination-controls 
        [responsive]="responsive" 
        previousLabel="Prev" 
        nextLabel="Next" 
        (pageChange)="handlePageChange($event)">
      </pagination-controls>
       
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let task of tasks | paginate: { 
                    itemsPerPage: pageSize, 
                    currentPage: page,
                    totalItems: count 
                  }; 
                  let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTask(task, i)" 
          style="cursor: pointer;">
            {{ task.title }}
        </li>
      </ul>
      
      <div>
        <button 
          class="m-3 btn btn-sm btn-danger" 
          (click)="removeAllTasks()">
            Remove All
        </button>
        Items per Page:
        <select (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
     
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTask">
        <h4>Task Details</h4>
        <hr>
        <div>
          <label><strong>Title:</strong></label> {{ currentTask.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          <p>{{ currentTask.description }}</p>
        </div>
        <div>
          <label><strong>Created on:</strong></label>
          {{ currentTask.createdOn }}
        </div>
        <div>
          <label><strong>Priority:</strong></label>
          {{ currentTask.priority }}
        </div>
         
        <div *ngIf="isAdmin && !currentTask.developer">
            <label><strong>Developer:</strong></label> 
            <a routerLink="../tasks/{{ currentTask.id }}/assign"> 
              Assign
          </a>
          </div>

        <div *ngIf="isAdmin && 
                      currentTask.developer && 
                      currentTask.developer.username != 'admin'">
            <label><strong>Developer:</strong></label> 
             <a routerLink="../users/{{ currentTask.developer.id }}"> 
                {{ currentTask.developer.username }}
            </a>
        </div>

        <div>
          <label><strong>Status:</strong></label>
          {{ currentTask.status }}
        </div>
  
        <a class="badge badge-warning" routerLink="/tasks/{{ currentTask.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="tasks.length > 0 && !currentTask">
        <br />
        <p>Please click on a Task...</p>
      </div>
    </div>
  </div>
